html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout-background {
    background-color: rgb(250, 248, 248);
    height: 100%;
}

.nav-bar {
    width: 100%;
    border-bottom: 1px solid #e6e4e4;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 2px -2px #a3a3a3;
}

.nav-bar-image, .nav-bar-link {
    padding: 0.5rem;
}

.nav-bar-link {
    font-size: 2em;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}

.news-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card {
    padding: 1rem;
    width: 30%;
    border: 0.5px solid gray;
    border-radius: 10px;
    margin: 0.25rem;
    transition: all .2s ease-in-out;
    background-color: #fff;
    box-shadow: 6px 6px 1px 0px rgba(163,163,163,1);
}

.item-card:hover {
    background-color: rgba(163,163,163,1);
}

.item-card:hover > .item-card-link,
.item-card:hover > .item-card-text {
    color: #fff;
}

.item-card-link {
    text-decoration: none;
    cursor: pointer;
}

.item-card-text, .item-card-link {
    color: #000;
    font-family: sans-serif;
}

.item-card-text:nth-of-type(2) {
    margin-bottom: 0;
}

.search-form {
    width: 30%;
    margin-bottom: 1rem;
}

.search-form > input {
    width: 80%;
    padding: 0.2rem 0.65rem;
}

.search-form-button {
    background-color: rgb(212, 1, 1);
    color: #fff;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 0.35rem 0.65rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.search-form-button:hover {
    background-color: rgb(255, 0, 0);
}

